{% extends "Login_Auth/base.html" %}
{% load static  %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/course.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/course_responsive.css' %}">

	<style >
	.btnn{
	align-content:right ;
	background-color:#14bdee;
	color: white;
	display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
	align-content:center;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
		#sss{
		padding:0px;
		margin-bottom:55px;
		}
	.destination_image img
	{
		max-width: 100%;
		height:300px;
	}
	</style>

</head>

<body>
{% for dest in dests %}


		




	<div class="course">
		<div class="container">
			<div class="row">

				<!-- Course -->
				<div class="col-lg-12">
					<br><br><br><br><br><br>
					<div class="course_container">
						<div class="course_title">{{ dest.courseName }}</div>



						<!-- Course Image -->
						<div class="course_image"><img src="images/course_image.jpg" alt=""></div>

						<!-- Course Tabs -->
						<div class="course_tabs_container">
							<div class="tabs d-flex flex-row align-items-center justify-content-start">
								<div class="tab active">description</div>
								<div class="tab">curriculum</div>
								<div class="tab">Discussion</div>
							</div>
							<div class="tab_panels">

								<!-- Description -->
								<div class="tab_panel active">
									<div class="tab_panel_title">{{ dest.courseName }}</div>
									<div class="tab_panel_content">
										<div class="tab_panel_text">
											<p>{{ dest.courseDesc }}</p>
										</div>
										<br>
										<div class="tab_panel_content">
											<div class="tab_panel_subtitle">Teacher:  sanchit</div>
										</div>
										{% comment %} <div class="tab_panel_section">
											<div class="tab_panel_subtitle">Requirements</div>
											<ul class="tab_panel_bullets">
												<li>Lorem Ipsn gravida nibh vel velit auctor aliquet. Class aptent taciti sociosquad litora torquent.</li>
												<li>Cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a.</li>
												<li>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat.</li>
												<li>Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio.</li>
											</ul>
										</div>

										<div class="tab_panel_section">
											<div class="tab_panel_subtitle">What is the target audience?</div>
											<div class="tab_panel_text">
												<p>This course is intended for anyone interested in learning to master his or her own body.This course is aimed at beginners, so no previous experience with hand balancing skillts is necessary Aenean viverra tincidunt nibh, in imperdiet nunc. Suspendisse eu ante pretium, consectetur leo at, congue quam. Nullam hendrerit porta ante vitae tristique. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
											</div>
										</div> {% endcomment %}

										

										
									</div>
								</div>

								<!-- Curriculum -->



								<div class="tab_panel tab_panel_2">
									<div class="tab_panel_content">
										<div class="tab_panel_title">{{ dest.courseName }}</div>
										<div class="tab_panel_content">
											<div class="tab_panel_text"><p>{{ dest.courseDesc }}</p>
											</div>
											<br>
											<h4><b>The Topics covered in the course are:</b></h4>
											<br>
											<!-- Dropdowns -->

											<ul class="dropdowns">
												{% for mod in mods %}
												{% if bought %}
												<li >
													<div class="dropdown_item">
													<form name="{{ mod.moduleName }}" action="{% url 'vid' %}" method="POST">
														{% csrf_token %}
														<input type="text" value='{{ dest.courseName }}' name="na" hidden></input>
														<input type="text" value='{{ mod.moduleName }}' name="nam" hidden></input>
														<div class="dropdown_item_title"><a href="#" onclick="submitForm('{{ mod.moduleName }}')"><span>{{ mod.moduleName }}</span></a></div>
													</form>	
														<div class="dropdown_item_text">
															<p>{{ mod.disc }}</p>
														</div>

													</div>
													{% else %}
													<li>
													<div class="dropdown_item">
													
														<div class="dropdown_item_title"><span>{{ mod.moduleName }}</span></div>
														<div class="dropdown_item_text">
															<p>{{ mod.disc }}</p>
														</div>

													</div>
													{% endif %}
													
												{% endfor %}


											</ul>
										</div>
									</div>
								</div>

								<!-- Reviews -->
								<div class="tab_panel tab_panel_3">
									<div class="tab_panel_title">Course Review</div>

									<!-- Rating -->
									<div class="review_rating_container">
										<div class="review_rating">
											<div class="review_rating_num">4.5</div>
											<div class="review_rating_stars">
												<div class="rating_r rating_r_4"><i></i><i></i><i></i><i></i><i></i></div>
											</div>
											<div class="review_rating_text">(28 Ratings)</div>
										</div>
										<div class="review_rating_bars">
											<ul>
												<li><span>5 Star</span><div class="review_rating_bar"><div style="width:90%;"></div></div></li>
												<li><span>4 Star</span><div class="review_rating_bar"><div style="width:75%;"></div></div></li>
												<li><span>3 Star</span><div class="review_rating_bar"><div style="width:32%;"></div></div></li>
												<li><span>2 Star</span><div class="review_rating_bar"><div style="width:10%;"></div></div></li>
												<li><span>1 Star</span><div class="review_rating_bar"><div style="width:3%;"></div></div></li>
											</ul>
										</div>
									</div>

									<!-- Comments -->
									<div class="comments_container">
										<ul class="comments_list">
											<li>
												<div class="comment_item d-flex flex-row align-items-start jutify-content-start">
													<div class="comment_image"><div><img src="images/comment_1.jpg" alt=""></div></div>
													<div class="comment_content">
														<div class="comment_title_container d-flex flex-row align-items-center justify-content-start">
															<div class="comment_author"><a href="#">Milley Cyrus</a></div>
															<div class="comment_rating"><div class="rating_r rating_r_4"><i></i><i></i><i></i><i></i><i></i></div></div>
															<div class="comment_time ml-auto">1 day ago</div>
														</div>
														<div class="comment_text">
															<p>There are many variations of passages of Lorem Ipsum available, but the majority have alteration in some form, by injected humour.</p>
														</div>
														<div class="comment_extras d-flex flex-row align-items-center justify-content-start">
															<div class="comment_extra comment_likes"><a href="#"><i class="fa fa-heart" aria-hidden="true"></i><span>15</span></a></div>
															<div class="comment_extra comment_reply"><a href="#"><i class="fa fa-reply" aria-hidden="true"></i><span>Reply</span></a></div>
														</div>
													</div>
												</div>
												<ul>
													<li>
														<div class="comment_item d-flex flex-row align-items-start jutify-content-start">
															<div class="comment_image"><div><img src="images/comment_2.jpg" alt=""></div></div>
															<div class="comment_content">
																<div class="comment_title_container d-flex flex-row align-items-center justify-content-start">
																	<div class="comment_author"><a href="#">John Tyler</a></div>
																	<div class="comment_rating"><div class="rating_r rating_r_4"><i></i><i></i><i></i><i></i><i></i></div></div>
																	<div class="comment_time ml-auto">1 day ago</div>
																</div>
																<div class="comment_text">
																	<p>There are many variations of passages of Lorem Ipsum available, but the majority have alteration in some form, by injected humour.</p>
																</div>
																<div class="comment_extras d-flex flex-row align-items-center justify-content-start">
																	<div class="comment_extra comment_likes"><a href="#"><i class="fa fa-heart" aria-hidden="true"></i><span>15</span></a></div>
																	<div class="comment_extra comment_reply"><a href="#"><i class="fa fa-reply" aria-hidden="true"></i><span>Reply</span></a></div>
																</div>
															</div>
														</div>
													</li>
												</ul>
											</li>
											<li>
												<div class="comment_item d-flex flex-row align-items-start jutify-content-start">
													<div class="comment_image"><div><img src="images/comment_3.jpg" alt=""></div></div>
													<div class="comment_content">
														<div class="comment_title_container d-flex flex-row align-items-center justify-content-start">
															<div class="comment_author"><a href="#">Milley Cyrus</a></div>
															<div class="comment_rating"><div class="rating_r rating_r_4"><i></i><i></i><i></i><i></i><i></i></div></div>
															<div class="comment_time ml-auto">1 day ago</div>
														</div>
														<div class="comment_text">
															<p>There are many variations of passages of Lorem Ipsum available, but the majority have alteration in some form, by injected humour.</p>
														</div>
														<div class="comment_extras d-flex flex-row align-items-center justify-content-start">
															<div class="comment_extra comment_likes"><a href="#"><i class="fa fa-heart" aria-hidden="true"></i><span>15</span></a></div>
															<div class="comment_extra comment_reply"><a href="#"><i class="fa fa-reply" aria-hidden="true"></i><span>Reply</span></a></div>
														</div>
													</div>
												</div>
											</li>
										</ul>
										<div class="add_comment_container">
											<div class="add_comment_title">Add a review</div>
											<div class="add_comment_text">You must be <a href="#">logged</a> in to post a comment.</div>
										</div>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>

			</div>
			<br>
			{% if bought %}
			<center>
				<form name="form1" action="{% url 'vid' %}" method="POST">
				{% csrf_token %}
				<input type="text" value='{{ dest.courseName }}' name="na" hidden></input>
				<input type="text" value='sanchit' name="nam" hidden></input>
				<div class="courses_button trans_200" style="align:center;">
					<a onclick="submitForm('form1')" >
					<button type="submit"  class="btnn" style="align:center;align-self: center;" >View course content</button>
					</a>
					<br><br>
				</div>

				</form>
			</center>
			{% else %}
			<center>
				<div class="courses_button trans_200" style="align:center;">
				<a href="{% url 'cart' %}"><button type="submit"  class="btnn" style="align:center;align-self: center;" >Buy now for {{ dest.price }}</button></a>
				</div>
			</center>

			{% endif %}
		</div>
	</div>
</div>


{% endfor %}
<br><br><br>

</div>

<script type="text/javascript">
function submitForm(name1)
{
	document.forms[name1].submit();

}
</script>

<script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
<script src="{% static 'plugins/colorbox/jquery.colorbox-min.js' %}"></script>
<script src="{% static 'js/course.js' %}"></script>





<script src="{% static 'js/cart.js' %}"></script>
</html>

{% endblock content %}