{% extends 'Login_Auth/base.html' %}
{% load static  %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/courses.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/courses_responsive.css' %}">
<link href="{% static 'plugins/colorbox/colorbox.css' %}" rel="stylesheet" type="text/css">


	<style >

<style >
	.btnn{
	align-content:right ;
	background-color:#14bdee;
	color: white;
	display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
	align-content:center;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
		#sss{
		padding:0px;
		margin-bottom:55px;
		}
	.destination_image img
	{
		max-width: 100%;
		height:300px;
	}
	</style>

	<!-- Course -->
<div class="course">
		<div class="container">
			<div class="row">

				<!-- Course -->
				<div class="col-lg-12">
					<br><br><br><br><br><br>
					<div class="course_container">
						<div class="course_title"><h1 align="center">Courses</h1></div>
						<br>
						<br>
					</div>
				</div>
			</div>


		<div class="row courses_row">

				<!-- Course -->
				

					{% for dest in dests %}



						<div class="col-lg-4 course_col">
							<div class="course">
								<div class="course_image ">
									<img src="{{ dest.courseImage.url }}" alt="">
								</div>
								<div class="course_body">
								<form method="POST" action="course/" id="san" name="{{ dest.courseName }}">
									<input name="na" type="hidden" value="{{ dest.courseName }}" >
									{%csrf_token%}
									<a href="#" onclick="submitform('{{ dest.courseName }}')"><h3 class="course_title">{{dest.courseName}}</h3></a>
								</form>
									<div class="course_teacher">Online</div>
									<div class="course_text">
										<p>{{ dest.courseDesc }}
									</div>
								</div>
								<div class="course_footer">
									<div class="course_footer_content d-flex flex-row ">
										<div class="course_price mr-4 pr-4">Rs.{{ dest.price }}</div>
										<button type="submit" data-course="{{dest.courseName}}" data-action="add"  class="btnn update-cart ">Add to Cart </button>
									</div>
								</div>
							</div>
						</div>

				{% endfor %}

	</div>

		</div>
</div>

<script type="text/javascript">
function submitform(name1)
{
	document.forms[name1].submit();

}
</script>

<script src="{% static 'plugins/parallax-js-master/parallax.min.js' %}"></script>
<script src="{% static 'plugins/colorbox/jquery.colorbox-min.js' %}"></script>


{% endblock content %}