<html lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<link rel="stylesheet" href="/static/bootstrap.min.css"/>
<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
</head>
<body class="bg-success">

<div class="container " style="width:100%" >
<div class="jumbotron " >
<h1 >Home</h1>
<p>Welcome {{uname}}</p></div></div>
<div class="container" style="width:100%; background-color:white;">

<br>
<ul class="nav nav-tabs" >
<li><a href="homeMenu?a=register" target="work">Register</a></li>
<li><a href="homeMenu?a=login" target="work">Login</a></li>
<li><a href="homeMenu?a=course" target="work">View Course</a></li>
<li><a href="homeMenu?a=contact" target="work">Contact Us</a></li>
<li><a href="homeMenu?a=about" target="work">About Us</a></li>
<li><a href="homeMenu?a=explore" >Explore</a></li>
</ul>
</div>
<div class="embed-responsive embed-responsive-4by3">
  <iframe class="embed-responsive-item" name="work"></iframe>
</div>
</body>
</html>