{% extends "Login_Auth/base.html" %}
{% load static  %}
{% block content %}
			<!-- Header Search Panel -->
			<!-- Menu -->

		

		<!-- Home -->

		<div class="home" style="height:700px;">
			<div class="home_slider_container" >

				<!-- Home Slider -->
				<div class="owl-carousel owl-theme home_slider">

					<!-- Home Slider Item -->
					<div class="owl-item">
						<div class="home_slider_background" style=" background-image:url( {% static 'images/home_slider_1.jpg' %} )"></div>

						<div class="home_slider_content">
							<div class="container">
								<div class="row">
									<div class="col text-center">
										<div class="home_slider_title">Welcome To <span>E-</span>Learners</div>
										<div class="home_slider_subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel gravida arcu. Vestibulum feugiat, sapien ultrices fermentum congue, quam velit venenatis sem</p></div>

									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Home Slider Item -->
					<div class="owl-item">
						<div class="home_slider_background" style="background-image:url({% static 'images/three.jpg' %})"></div>
						<div class="home_slider_content">
							<div class="container">
								<div class="row">
									<div class="col text-center">
										<div class="home_slider_title" style="color: white">The Premium System Education</div>
										<div class="home_slider_subtitle" style="color: white">Future Of Education Technology</div>

									</div>
								</div>
							</div>
						</div>
					</div>

					<!-- Home Slider Item -->
					<div class="owl-item">
						<div class="home_slider_background" style="background-image:url({% static 'images/four.jpg' %})"></div>
						<div class="home_slider_content">
							<div class="container"	>
								<div class="row">
									<div class="col text-center" style="color:white;">
										<div class="home_slider_title" style="color:white;">Learn Anytime from Anywhere</div>
										<div class="home_slider_subtitle" style="color:white;">Lorem ipsum dolor sit amet</p></div>

									</div>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>

			<!-- Home Slider Nav -->

			<div class="home_slider_nav home_slider_prev"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
			<div class="home_slider_nav home_slider_next"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
		</div>

		<!-- Features -->
		<div class="container">

				<div class=" features row features_row" id="sss">

					<!-- Features Item -->
					<div class=" col-lg-3 feature_col">
						<div class="feature text-center trans_400">
							<div class="feature_icon"><img src="{% static 'images/icon_1.png' %}" alt=""></div>
							<h3 class="feature_title">The Experts</h3>
							<div class="feature_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
						</div>
					</div>

					<!-- Features Item -->
					<div class="col-lg-3 feature_col">
						<div class="feature text-center trans_400">
							<div class="feature_icon"><img src="{% static 'images/icon_2.png' %}" alt=""></div>
							<h3 class="feature_title">Book & Library</h3>
							<div class="feature_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
						</div>
					</div>

					<!-- Features Item -->
					<div class="col-lg-3 feature_col">
						<div class="feature text-center trans_400">
							<div class="feature_icon"><img src="{% static 'images/icon_3.png' %}" alt=""></div>
							<h3 class="feature_title">Best Courses</h3>
							<div class="feature_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
						</div>
					</div>

					<!-- Features Item -->
					<div class="col-lg-3 feature_col">
						<div class="feature text-center trans_400">
							<div class="feature_icon"><img src="{% static 'images/icon_4.png' %}" alt=""></div>
							<h3 class="feature_title">Award & Reward</h3>
							<div class="feature_text"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p></div>
						</div>
					</div>

				</div>
			</div>
	

	<!-- Popular Courses -->
	{% comment %} <script>
	{% csrf_token %}
		<!-- Popular Courses -->
		<script>
	
			function querySomething(){
				$.ajax({
					type: "POST",
					url: "/course/",
					dataType: "json",
					headers: {
						'Content-Type': 'multipart/form-data', 'boundary':'63c5979328c44e2c869349443a94200e',
						"HTTP_GROUP_NAME": "groups_name",
					
					},
					data: {
						"na":"sanchitis great",
						'csrfmiddlewaretoken': "{{csrf_token}}",
					},
					success: function(data){
						console.log("success");
						console.log(data);
					},
					failure: function(data){
						console.log("failure");
						console.log(data);
					},
				});
				alert('marcusShep function ran.')
			}
		
	</script> {% endcomment %}
	

	<div class="courses">
		<div class="section_background parallax-window" data-parallax="scroll" data-image-src="images/courses_background.jpg" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="section_title_container text-center">
						<h2 class="section_title">Popular Online Courses</h2>
						<div class="section_subtitle"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel gravida arcu. Vestibulum feugiat, sapien ultrices fermentum congue, quam velit venenatis sem</p></div>
					</div>
				</div>
				<div class="row courses_row">

					<!-- Course -->
					{% for dest in dests %}



						<div class="col-lg-4 course_col">
							<div class="course">
								<div class="course_image ">
									<img src="{{ dest.courseImage.url }}" alt="">
								</div>
								<div class="course_body">
								<form method="POST" action="course/" id="san" name="{{ dest.courseName }}">
									<input name="na" type="hidden" value="{{ dest.courseName }}" >
									{%csrf_token%}
									<a href="#" onclick="submitform('{{ dest.courseName }}')"><h3 class="course_title">{{dest.courseName}}</h3></a>
								</form>
									<div class="course_teacher">Online</div>
									<div class="course_text">
										<p>{{ dest.courseDesc }}
									</div>
								</div>
								<div class="course_footer">
									<div class="course_footer_content d-flex flex-row align-items-center justify-content-start">
										<div class="course_price ml-auto">Price: ${{ dest.price }}</div>
									</div>
								</div>
							</div>
						</div>

				{% endfor %}

				</div>
				<div class="row">
					<div class="col">
						<div class="courses_button trans_200"><a href="courses">view all courses</a></div>
					</div>
				</div>
			</div>
		</div>
	<div>

<script type="text/javascript">
	function submitform(name1)
	{
		document.forms[name1].submit();

	}
</script>
`
	</div>

{% endblock content %}