<html lang="en">
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width,initial-scale=1"/>
<link rel="stylesheet" href="/static/bootstrap.min.css"/>
<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
</head>
<body class=bg-success>
<br><br>
<div class="container" style="align:center; ">
<div class="panel-group" style="text-align:center;">
<div class="panel panel-danger">
<div class="panel-heading"><h1>Student OTP Verification</h1></div><br><br>
<form method=POST action="stuOTP" class="form-horizontal"  >
{% csrf_token %}

<input type="text" id="fname" name="fname" value="{{user.name}} ">
<input type="text" id="pass" name="pass" value="{{user.pwd}} " readonly >
<input type="text" id="dob" name="dob" value="{{user.dob}}" readonly >
<input type="text" id="gen" name="gen" value="{{user.Gen}}" readonly >



<div class="form-group">
<label class="control-label col-sm-2 text-primary" for="eid" > Email Id </label>

<div class="col-sm-6">
<input type=text id="e_id" name="e_id" value={{user.email}} class=form-control readonly />
</div> 
</div>

<div class="form-group">
<label class="control-label col-sm-2 text-primary" for="pwd" > OTP </label>
<div class="col-sm-6">
<input type="number" id="otp" name="otp" class=form-control required />
</div>
</div>
<label color = blue >OTP has been sent to the given Email address</label>
<div style="text-align:center;">
<button type=submit class="btn btn-danger">Submit</button>
</div>
</form>
</div>
</div>
</div>
</body>
</html>